@CHARSET "UTF-8";

.top {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 32px;
	height: 32px;
	text-decoration: none;
	font-size: 9px;
	text-align: center;
	background-color: #f44444;
	color: white;
	display: none;
}

.top>img {
	width: 32px;
	height: 32px;
}