@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.content_menu{
	float: left;
	margin:5% 10px 5% 10%;
	width: 100px;
	border: 1px solid #DBDBDB;
}
.content_menu a{
	text-decoration: none;
	text-align: center;
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: #707070;
	font-size: 14px;
	background-color: white;
}
.content_menu a:HOVER{
	background-color:#f44444;
	color: white;
}
.content{
	width: 758px;
	margin:5% auto;
	border: 1px solid #DBDBDB;
	padding: 10px 20px;
	margin-left:10px;
	overflow: hidden;
}